<!DOCTYPE html>
<html>
  <head>
    <title>Biitos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "投稿一覧", posts_path %>
      <%= link_to t('views.post.new'), new_post_path %>
      <%= link_to current_user.name, user_path(current_user.id) %>
      <%= link_to '友達', friends_path(current_user.id) %>
      <%= link_to 'DM一覧', conversations_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <%= yield %>
    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>
  </body>
</html>
