<!DOCTYPE html>
<html>
  <head>
    <title>Biitos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">ブランド</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="Navber">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
            <li class="nav-item active">
              <%= link_to "投稿一覧", posts_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to t('views.post.new'), new_post_path, class: 'nav-link' %>
            </li>
            <li class="nav-item dropdown">
              <a href="#" class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= current_user.name %>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <%= link_to '友達', friends_path(current_user.id), class: 'dropdown-item' %>
                <%= link_to 'DM一覧', conversations_path, class: 'dropdown-item' %>
                <div class="dropdown-divider"></div>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
            <li class="nav-item">
              <% if unchecked_notifications.any? %>
                <i class="fa fa-circle" style="color: gold;"></i>
              <% end %>
              <%= link_to "NOTICE", notifications_path, class: "btn-default nav-link" %>
            </li>
          <% else %>
          <li class="nav-item active">
            <%= link_to "投稿一覧", posts_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: 'nav-link' %>
          </li>
          <% end %>
        </ul>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <%= yield %>
    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>
  </body>
</html>
