<!DOCTYPE html>
<html>
  <head>
    <title>Biitos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to t('views.post.new'), new_post_path %>
    <%= yield %>
    <script>
      audiojs.events.ready(function() {
        var as = audiojs.createAll();
      });
    </script>
  </body>
</html>
